{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" href="/static/images/favicon.ico" >
	<link rel="stylesheet" href="/static/css/main.css" type="text/css" />
        <title>{% block title %}{% endblock %}{% trans 'Quejómetro' %}</title>
    </head>
    <body>
	<header class="header">
            <a class="logo" href="/">{% trans 'Quejómetro' %}</a></h1>
	    {% if not user.is_authenticated %}
	    <p class="profile">Anonymous? <a href="/accounts/register/">¡Register!</a> or <a href="/accounts/login/">Log in</a></p>
	    {% else %}
	    <p class="profile">Hi! {{ user.username }}. <a href="/accounts/profile">Profile</a> | <a href="/accounts/logout/">Logout?</a></p>
	    {% endif %}
        </header>
        <nav>
            <h2>Barra horizontal...</h2>
            {% block menu %}
		<!-- El menú -->
            {% endblock %}
	</nav>
        <article class="content">
                <h3>Contenido</h3>
                {% block content %}
		    <!-- Aquí el contenido -->
                {% endblock %}
        </article>
        <footer>
          <h2>Footer</h2>
          {% block footer %}
	      <!-- Aquí el footer -->
          {% endblock %}
        </footer>
    </body>
</html>
