{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" href="/site_media/images/favicon.ico" >
	<link rel="stylesheet" href="/site_media/css/main.css" type="text/css" />
        <title>{% block title %}{% trans 'Quejómetro' %}{% endblock %}</title>
    </head>
    <body>
	<div class="header">
            <h1>Quejómetro</h1>
            {% block header %}
		<!-- Header -->
            {% endblock %}
        </div>
        <div class="main">
            <h2>Barra horizontal...</h2>
            {% block menu %}
		<!-- El menú -->
            {% endblock %}
            <div class="content">
                <h3>Contenido</h3>
                {% block content %}
		    <!-- Aquí el contenido -->
                {% endblock %}
            </div>
        </div>
        <div class="footer">
          <h2>Footer</h2>
          {% block footer %}
	      <!-- Aquí el footer -->
          {% endblock %}
        </div>
    </body>
</html>
