{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="shortcut icon" href="/site_media/images/favicon.ico" >
	<link rel="stylesheet" href="/site_media/css/main.css" type="text/css" />
        <title>{% block title %}{% trans 'Quej—metro' %}{% endblock %}</title>
    </head>
    <body>
	<div class="header">
            <h1>Agenda de contactos</h1>
            {% block header %}
            <!-- Header -->
            {% endblock %}
        </div>
        <div class="main">
            <h2>Menœ</h2>
            {% block menu %}
            <!-- El menœ -->
            {% endblock %}
            <div class="content">
                <h3>Contenido</h3>
                {% block content %}
                <!-- Aqu’ el contenido -->
                {% endblock %}
            </div>
        </div>
        <div class="footer">
          <h2>Footer</h2>
          {% block footer %}
          {% endblock %}
        </div>
    </body>
</html>
